body {
    background-color: dimgray;
    color: dimgray;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 10px:
}

#header {
    height: 50px;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
    background-color: black;
}

#side {
    height: 800px;
    width: 190px;
    margin-bottom: 10px;
    float: left;
    background-color: black;
    color: dimgray;
}

#content {
    height: 800px;
    width: 600px;
    margin-left: 200px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
}

#footer {
    height: 150px;
    text-align: center;
    background-color: black;
}

.list {
    margin-top: 10px;
}

.full {
    margin-left: 25px; 
    margin-top: 10px;
}

a {
    text-decoration: none;
    padding: 25px;
    color: dimgray;
}

a:hover {
    color: darkgray;
}