body {
    background-color: whitesmoke;
    color: darkgray;
    margin: 10px;
}

#wrapper {
    margin: auto;
    width: 900px;
}

header {
    background-color: white;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.bc {
    font-size: 40px;
}

.languages {
    float: right;
}

nav {
    background-color: white;
    float: left;
    height: 670px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 180px;
}

section {
    background-color: white;
    color: dimgray;
    height: 650px;
    margin-bottom: 10px;
    margin-left: 200px;
    padding: 10px;
    width: 680px;
}

.parts {
    float: right;
}

footer {
    background-color: white;
    height: 110px;
    padding: 10px;
    text-align: center;
}

.list {
    float: right;
    margin-right: 50px;
}

.full {
    float: right;
    margin-right: 40px;
}

.tel {
    float: left;
    font-size: 20px;
    padding-right: 10px;
}

.mail {
    font-size: 20px;
    margin-right: 690px;
}

a {
    color: dimgray;
    padding: 25px;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}
